<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
          <strong>Face</strong> Recognition
      </div>
      <div class="card-block">
              <div class="form-group row">
                <div class="col-md-12">
                  <img id="uploadPreview" [src]="uploadPreviewSrc" style="width: 100%;min-height:100px" />
                </div>
              </div>
              <div class="form-group row" [hidden]="true">
                <label class="col-md-3 form-control-label" for="file-input">File input</label>
                <div class="col-md-9">
                     <input #myInput id="uploadImage" type="file" id="file-input" name="file-input" (change)="changeListener($event)" accept="image/*">
                </div>
              </div>
              <div class="form-group row" *ngIf="searchedStudent">
                <div class="col-md-12 col-sm-12">
                    <div class="card " [ngClass]="{'card-outline-success' : !searchedStudent.notfound,'card-outline-danger':searchedStudent.notfound}">
                        <div class="card-header">
                            {{(searchedStudent.notfound)?'No matches found.':searchedStudent.name}}
                            <span *ngIf="!searchedStudent.notfound" class="tag tag-success pull-right">Success</span>
                            <span *ngIf="searchedStudent.notfound" class="tag tag-success pull-right">Failed</span>
                        </div>
                        <div class="card-block">
                            <div *ngIf="!searchedStudent.notfound" class="row">
                                <img [src]="searchedStudent.photo" style="height:auto;width: auto;max-height: 300px;display: block;margin: auto;" />
                                <div style="margin: auto">
                                    <div><strong>Name:  </strong>{{searchedStudent.name}}</div>
                                    <div><strong>User ID:  </strong>{{searchedStudent.usn}}</div>
                                    <div><strong>Role:  </strong>{{searchedStudent.roles}}</div>
                                    <div><strong>Date Registered:  </strong>{{searchedStudent.dateadded}}</div>
                                    <div *ngIf="searchedStudent.logstatus">
                                        <br/>
                                        <h6>Attendance Log:</h6>
                                        <div><strong>Status:  </strong>{{searchedStudent.logstatus}}</div>
                                        <div><strong>Message:  </strong>{{searchedStudent.logmessage}}</div>
                                    </div>
                                </div>
                            </div>  
                            
                        </div>
                    </div>
                </div>
              </div>
              <div class="form-group row" >
                <div class="col-md-12" >
                  <button [disabled]="photoUploading" class="btn btn-success btn-lg btn-block" type="button" (click)="selectNewClickListener($event)">
                      <i class="fa fa-camera fa-lg"></i> {{(photoUploading===false)?'Capture Photo':'Finding face match..'}}
                  </button>
                  <br/>
                    <div [hidden]="postprocessmsg==''" class="card card-inverse card-success text-xs-center">
                    <div class="card-block">
                       <h3>{{postprocessmsg}}</h3>
                    </div>
                    </div>
                  <div [hidden]="!processing" style="text-align:center"><h2>Processing..</h2></div>
                  <div [hidden]="processing">
                    <button (click)="setAsAttendanceClicked($event)" [hidden]="!searchedStudent||searchedStudent.notfound" class="btn btn-secondary btn-lg btn-block" type="button" [ngClass]="{'active' : mode==controlModes.attendance}" >Attendance Log</button>
                    <div [hidden]="mode!=controlModes.attendance" class="as-attendance controls">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Select Section:</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="selectedSection.idno" (ngModelChange)="sectionSelectChanged($event)">
                                <option *ngFor="let section of sectionList" [ngValue]="section.idno">{{ section.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" [hidden]="!selectedSection.idno">
                            <div class="col-md-6">
                                <button class="btn btn-md btn-primary" (click)="submitAccountLog($event)" >Submit</button> 
                            </div>
                        </div>
                    </div>
                    
                    <br/>
                    <button (click)="registerNewStudentClicked($event)" [hidden]="!searchedStudent" class="btn btn-secondary btn-lg btn-block" type="button" [ngClass]="{'active' : mode==controlModes.newstudent}">Register As New Student</button>
                    <div [hidden]="mode!==controlModes.newstudent">
                        <div class="card" >
                            <div class="card-header">
                                <strong>Student Information</strong>
                                <small>Form</small>
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input [(ngModel)]="newStudentForm.firstname" class="form-control" id="firstname" placeholder="Enter your first name" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="midname">Middle Name</label>
                                    <input [(ngModel)]="newStudentForm.middlename" class="form-control" id="midname" placeholder="Enter your middle name" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input [(ngModel)]="newStudentForm.lastname" class="form-control" id="lastname" placeholder="Enter your last name" type="text">
                                </div>                            
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Account Detail
                            </div>
                            <div class="card-block">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input [(ngModel)]="newStudentForm.username" class="form-control" id="username2" name="username2" placeholder="Username/Student ID" type="text">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input [(ngModel)]="newStudentForm.password" class="form-control" id="password1" name="password1" placeholder="Password" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input [(ngModel)]="newStudentForm.confirmpassword" class="form-control" id="password2" name="password2" placeholder="Confirm Password" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [hidden]="newStudentFormError==''" class="card card-inverse card-danger text-xs-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>{{newStudentFormError}}</p>
                                </blockquote>
                            </div>
                        </div>
                        <button class="btn btn-md btn-primary" (click)="registerNewStudentSubmitClicked($event)" >Register</button> 
                        <button class="btn btn-md btn-danger" (click)="registerNewStudentCancelClicked($event)" >Cancel</button> 
                    </div>
                    <br/>
                    <button (click)="setAsStudentPhotoClicked($event)" [hidden]="!searchedStudent" class="btn btn-secondary btn-lg btn-block" type="button" [ngClass]="{'active' : mode==controlModes.studentinfo}">Manual Register Photo</button>
                    <div [hidden]="mode!=controlModes.studentinfo" class="as-student controls">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="select">Select Student:</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="selectedStudent.accountidno" (ngModelChange)="studentSelectChanged($event)">
                                <option *ngFor="let student of studentList" [ngValue]="student.accountidno">{{ student.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" [hidden]="!selectedStudent.accountidno">
                            <label class="col-md-6 checkbox-inline" for="inline-checkbox1">
                                <input id="inline-checkbox1" name="inline-checkbox1" type="checkbox" [(ngModel)]="setAsPrimaryPhoto">Set as Primary Photo
                            </label>
                            <div class="col-md-6">
                                <button class="btn btn-md btn-primary" (click)="submitPhotoClickListener($event)" >Submit Photo</button> 
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
          
          
      </div>
      <div class="card-footer">
          <!-- <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
      </div>
  </div>
</div>
